<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8" />
	<title>403 Page</title>
	</head>

	<body>
		<h2>403 Error: Access denied</h2>

		<h3 style="color:red;">
			<span th:text="${message}"></span>
		</h3>
	</body>
</html>