<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Login AngularJS</title>

		<!-- thu vien angularjs chung -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
		<!-- js controller angularjs -->
		<script src="/angularjs/js/main.js"></script>

		<!-- Jquerry -->
		<script src="/jquerry/jquery.min.js"></script>
		<script src="/jquerry/jquery.validate.min.js"></script>

		<!-- css,js chuan cua boostrap -->
		<link rel="stylesheet" type="text/css" href="/bootstrap/js/bootstrap.min.css">
		<script src="/bootstrap/js/bootstrap.min.js"></script>

		<!-- css tự định nghĩa -->
		<link rel="stylesheet" type="text/css" href="/angularjs/css/app.css" />

		<!-- js chuan cua angularjs -->
		<script src="/angularjs//lib/angular.min.js"></script>
		<script src="/angularjs//lib/angular-ui-router.min.js"></script>
	<head>

	<body ng-app="UserManagement" ng-controller="UserController">
		<div class="generic-container" style="width: 700px;">

			<div class="panel panel-default">

				<div class="panel-heading">
					<span class="lead">Login System </span>
				</div>

				<div class="panel-body">
					<div class="formcontainer">

						<form ng-submit="loginUser()" name="myForm" class="form-horizontal">
							<input type="hidden" ng-model="ctrl.user.id" />
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-2 control-lable" for="loginName">Login Name</label>
									<div class="col-md-7">
										<input type="text"
												ng-model="user.loginName"
												id="loginName"
												class="username form-control input-sm"
												placeholder="Tên đăng nhập"
												required />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-2 control-lable" for="password">Password</label>
									<div class="col-md-7">
										<input type="password"
												ng-model="user.password"
												id="password"
												class="form-control input-sm"
												placeholder="mật khẩu"
												required />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-actions floatRight">
									<input type="submit"
											class="btn btn-primary btn-sm"
											value ="Login">

									<button type="button"
											ng-click="reset()"
											id="resetForm"
											class="btn btn-warning btn-sm" >Reset Form</button>
								</div>
							</div>
						</form>

					</div>
				</div>

			</div>

		</div>

			<!-- Modal thông báo message add-->
			<div class="modal fade" id="notifiModal" role="dialog">
				<div class="modal-dialog">

					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close dongmodal" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Thông báo</h4>
						</div>
						<div class="modal-body">
							<p id="massagemodal"></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default dongmodal"
								data-dismiss="modal">Đóng</button>
						</div>
					</div>
				</div>
			</div>
			<!-- endmodal -->

	</body>
</html>